.Icon-Headline,.Icon-Subline
{
	font-family: courier-prime-n4, monospace;
}

.Copy-Body-11,.Character-Style-1
{
	font-family: asap-n4, sans-serif;
}

.MENU
{
	font-family: bebas-neue-n4, sans-serif;
}

#u8678,#u8681
{
	font-family: asap-n7, sans-serif;
}

