.version.kohler_pitch_win /* version checker */
{
	color: #0000F9;
	background-color: #5EA6B4;
}

.html
{
	background-color: #D8DADA;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 151px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 699px;
	margin-left: auto;
	margin-right: auto;
}

#u8684
{
	z-index: 6;
	width: 133px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: -72px;
}

#u8686
{
	z-index: 7;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8685-4
{
	z-index: 9;
	width: 63px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 37px;
}

#u8685-4:hover
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 20px;
	margin: 69px -10000px 0px 0px;
}

#u8688-4
{
	z-index: 13;
	width: 59px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 35px;
}

#u8688-4:hover
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 19px;
	margin: 43px -10000px 0px 0px;
}

#u8685-2,#u8688-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8685-2  span,#u8688-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u8685,#u8688
{
	font-size: 13px;
	letter-spacing: 0px;
	color: #000000;
	font-family: asap, sans-serif;
	font-weight: 700;
}

#u8689
{
	z-index: 17;
	width: 80px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 27px;
}

#u7429-4
{
	z-index: 2;
	width: 589px;
	min-height: 20px;
	background-color: transparent;
	padding-top: 26px;
	padding-bottom: 42px;
	font-size: 11px;
	color: #494949;
	text-align: left;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 92px;
}

body
{
	position: relative;
	min-width: 1024px;
}

