.version.morton_best_in_snow /* version checker */
{
	color: #0000EC;
	background-color: #F71712;
}

.html
{
	background-color: #D8DADA;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 750px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

#u7663
{
	z-index: 2;
	width: 1136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: -56px;
}

#u6973
{
	z-index: 36;
	width: 1136px;
	min-height: 635px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1475-16
{
	z-index: 3;
	width: 783px;
	min-height: 0px;
	background-color: transparent;
	padding-top: 26px;
	padding-bottom: 42px;
	font-size: 11px;
	color: #494949;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
}

#pu2839
{
	width: 0.01px;
}

#u2839
{
	z-index: 26;
	width: 578px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1486-7
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 620px;
}

#u1486-7
{
	z-index: 19;
	width: 514px;
	min-height: 118px;
	background-color: transparent;
	padding-bottom: 42px;
	font-size: 11px;
	color: #494949;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 2px;
	position: relative;
}

#u1486-5
{
	line-height: 1.4;
}

#pu2862
{
	width: 0.01px;
	margin-top: -6px;
}

#u2862
{
	z-index: 28;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2867
{
	z-index: 30;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#pu2872
{
	width: 0.01px;
	margin-top: 40px;
}

#u2872
{
	z-index: 32;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2882
{
	z-index: 34;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u8565
{
	z-index: 37;
	width: 133px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: -72px;
}

#u8567
{
	z-index: 38;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8566-4
{
	z-index: 40;
	width: 63px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 37px;
}

#u8566-4:hover
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 20px;
	margin: 69px -10000px 0px 0px;
}

#u8569-4
{
	z-index: 44;
	width: 59px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 35px;
}

#u8569-4:hover
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 19px;
	margin: 43px -10000px 0px 0px;
}

#u8566-2,#u8569-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8566-2  span,#u8569-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u8566,#u8569
{
	font-size: 13px;
	letter-spacing: 0px;
	color: #000000;
	font-family: asap, sans-serif;
	font-weight: 700;
}

#u8570
{
	z-index: 48;
	width: 80px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 27px;
}

body
{
	position: relative;
	min-width: 1024px;
}

