.version.skittles_blue_skittles /* version checker */
{
	color: #0000EA;
	background-color: #D6B1B1;
}

.html
{
	background-color: #D8DADA;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 750px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

#u7492
{
	z-index: 2;
	width: 1137px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: -57px;
}

#pu478-4
{
	width: 0.01px;
	margin-left: 1px;
}

#u478-4
{
	z-index: 11;
	width: 388px;
	min-height: 0px;
	background-color: transparent;
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 11px;
	color: #494949;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 491px;
	left: 128px;
}

#u6401
{
	z-index: 75;
	width: 1136px;
	min-height: 635px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u476-4
{
	z-index: 3;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	padding-top: 26px;
	padding-bottom: 42px;
	margin-left: 1px;
	position: relative;
}

#slideshowu925
{
	z-index: 19;
	width: 0.01px;
	height: 524px;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#u927
{
	position: absolute;
	width: 850px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -334px;
	left: -61px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u927popup
{
	z-index: 20;
}

#u1028
{
	z-index: 21;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1028_img
{
	padding: 60px 189px 59px 190px;
}

#u1019
{
	z-index: 23;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1037
{
	z-index: 25;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1019_img,#u1037_img
{
	padding: 60px 190px 59px 189px;
}

#u934
{
	position: absolute;
	width: 1136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
}

#u934popup
{
	z-index: 27;
}

#u1031
{
	z-index: 28;
	width: 342px;
	height: 519px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u1022
{
	z-index: 30;
	width: 342px;
	height: 519px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 397px;
}

#u1031_img,#u1022_img
{
	margin-left: -13px;
	margin-right: -12px;
}

#u1040
{
	z-index: 32;
	width: 342px;
	height: 519px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 789px;
}

#u1031:hover,#u1022:hover,#u1040:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1031_clip,#u1022_clip,#u1040_clip
{
	overflow: hidden;
	width: 342px;
	height: 519px;
}

#u1040_img
{
	margin-left: -12px;
	margin-right: -13px;
}

#u962-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -252px;
	left: 26px;
}

#u962-4popup
{
	z-index: 34;
}

#u963-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -252px;
	left: 56px;
}

#u963-4popup
{
	z-index: 38;
}

#u964
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -252px;
	left: 655px;
}

#u964:hover
{
	background-color: #999999;
	margin: 0px;
}

#u964:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u965-4
{
	z-index: 43;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6418-4
{
	z-index: 7;
	width: 720px;
	min-height: 8px;
	background-color: transparent;
	padding-bottom: 10px;
	margin-left: 1px;
	margin-top: 30px;
	position: relative;
}

#u6419
{
	z-index: 76;
	width: 1132px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-left: 1px;
	margin-top: 16px;
	position: relative;
}

#u1107-4
{
	z-index: 15;
	width: 619px;
	min-height: 0px;
	background-color: transparent;
	padding-top: 30px;
	padding-bottom: 10px;
	margin-left: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu1114
{
	width: 0.01px;
	margin-top: 15px;
}

#u1114
{
	z-index: 49;
	width: 340px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1109
{
	z-index: 47;
	width: 190px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 366px;
}

#u1119
{
	z-index: 51;
	width: 341px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 580px;
}

#u1139
{
	z-index: 59;
	width: 190px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 946px;
}

#u1144
{
	z-index: 61;
	width: 263px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1134
{
	z-index: 57;
	width: 263px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 291px;
}

#u1154
{
	z-index: 65;
	width: 263px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 582px;
}

#u1154_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u1174
{
	z-index: 73;
	width: 263px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 874px;
}

#pu1144,#pu1159
{
	width: 0.01px;
	margin-top: 27px;
}

#u1159
{
	z-index: 67;
	width: 354px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1149
{
	z-index: 63;
	width: 354px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u1169
{
	z-index: 71;
	width: 354px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 779px;
}

#u1169_img
{
	padding-right: 1px;
}

#pu1164
{
	width: 0.01px;
	margin-top: 26px;
}

#u1164
{
	z-index: 69;
	width: 354px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1129
{
	z-index: 55;
	width: 355px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u1124
{
	z-index: 53;
	width: 357px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 780px;
}

#u1124_clip
{
	overflow: hidden;
	width: 357px;
	height: 263px;
}

#u1124_img
{
	margin-bottom: -4px;
}

#u8543
{
	z-index: 77;
	width: 133px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: -72px;
}

#u8537
{
	z-index: 78;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8539-4
{
	z-index: 80;
	width: 63px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 37px;
}

#u8539-4:hover
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 20px;
	margin: 69px -10000px 0px 0px;
}

#u8540-4
{
	z-index: 84;
	width: 59px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 35px;
}

#u8540-4:hover
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 19px;
	margin: 43px -10000px 0px 0px;
}

#u476-2,#u6418-2,#u1107-2,#u8539-2,#u8540-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u476-2  span,#u6418-2  span,#u1107-2  span,#u8539-2  span,#u8540-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u8539,#u8540
{
	font-size: 13px;
	letter-spacing: 0px;
	color: #000000;
	font-family: asap, sans-serif;
	font-weight: 700;
}

#u8541
{
	z-index: 88;
	width: 80px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 27px;
}

body
{
	position: relative;
	min-width: 1024px;
}

