.version.wedding_posters /* version checker */
{
	color: #0000FB;
	background-color: #3A56F8;
}

.html
{
	background-color: #D8DADA;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 750px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

#pslideshowu2479
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: -72px;
}

#slideshowu2479
{
	z-index: 2;
	width: 0.01px;
	height: 1042px;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 16px;
}

#u2487
{
	position: absolute;
	width: 850px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -85px;
	left: -65px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u2487popup
{
	z-index: 3;
}

#u2588
{
	z-index: 4;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2561
{
	z-index: 6;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2579
{
	z-index: 8;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2552
{
	z-index: 10;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2561_img,#u2552_img
{
	padding-left: 147px;
	padding-right: 148px;
}

#u2570
{
	z-index: 12;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2588_img,#u2579_img,#u2570_img
{
	padding-left: 148px;
	padding-right: 147px;
}

#u2497
{
	position: absolute;
	width: 1136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2497popup
{
	z-index: 14;
}

#u2591
{
	z-index: 15;
	width: 372px;
	height: 516px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2564
{
	z-index: 17;
	width: 372px;
	height: 516px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 382px;
}

#u2582
{
	z-index: 19;
	width: 372px;
	height: 516px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 764px;
}

#u2591:hover,#u2564:hover,#u2582:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2555
{
	z-index: 21;
	width: 372px;
	height: 516px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 526px;
}

#u2573
{
	z-index: 23;
	width: 372px;
	height: 516px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 526px;
	left: 382px;
}

#u2555:hover,#u2573:hover
{
	margin: 526px -10000px 0px 0px;
}

#u2591_img,#u2564_img,#u2582_img,#u2555_img,#u2573_img
{
	padding: 2px 5px 3px;
}

#u2520-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -62px;
	left: 5px;
}

#u2520-4popup
{
	z-index: 25;
}

#u2494-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -62px;
	left: 35px;
}

#u2494-4popup
{
	z-index: 29;
}

#u2495
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -62px;
	left: 690px;
}

#u2495:hover
{
	background-color: #999999;
	margin: 0px;
}

#u2495:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u2496-4
{
	z-index: 34;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u8677
{
	z-index: 42;
	width: 133px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8679
{
	z-index: 43;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8678-4
{
	z-index: 45;
	width: 63px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 37px;
}

#u8678-4:hover
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 20px;
	margin: 69px -10000px 0px 0px;
}

#u8681-4
{
	z-index: 49;
	width: 59px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-1,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 35px;
}

#u8681-4:hover
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 19px;
	margin: 43px -10000px 0px 0px;
}

#u8678,#u8681
{
	font-size: 13px;
	letter-spacing: 0px;
	color: #000000;
	font-family: asap, sans-serif;
	font-weight: 700;
}

#u8682
{
	z-index: 53;
	width: 80px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,0,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 27px;
}

#u2597-4
{
	z-index: 38;
	width: 982px;
	min-height: 0px;
	background-color: transparent;
	padding-top: 26px;
	padding-bottom: 42px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 98px;
}

#u8678-2,#u8681-2,#u2597-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8678-2  span,#u8681-2  span,#u2597-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

body
{
	position: relative;
	min-width: 1024px;
}

